/* 
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Tran Luu Quang Tung
  ID: 3978481
  Acknowledgement: 
    -	Website logo: 
        https://www.freepik.com/free-vector/collection-simple-flat-design-book-logo_12067423.htm#query=book%20logo&position=5&from_view=keyword&track=ais
    -	Background pattern: https://heropatterns.com/ 
    -	Book cover images: https://www.panmacmillan.com/ 
    -	Book description (Detail page): https://www.goodreads.com/book/show/2767052-the-hunger-games 

    -	Video source: https://www.youtube.com/embed/xqMozc4K4pg 
  */

/* header */
header{
    background-color: rgb(35, 32, 32);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


.logo{
    margin-top: 2%;
    margin-right: 2%;    
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div{
    padding: 2px;
    margin: 2%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi{
    font-size: 145%;
    color: rgb(246, 241, 241);
    padding: 0;
    margin: 1%;
}

.navi:hover{
    color: rgb(200, 152, 228);
    transform: matrix3d(30px);
    font-size: 160%;
    transition: .2s;
}


/* main */
main{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 5%;
}

main div{
    background-color: #d0c4e2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239384aa' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

main iframe{
    display: flex;
    margin: auto;
    padding: auto;
}

main div p{
    align-content: center;
    text-align: center;
    margin: 3%;
    font-weight: 700;
    color: rgb(35, 32, 32);
}


.c1, .c2{
    position: relative;
    font-size: 180%;
    margin: auto;
    top: 50px;
}

.c1:hover, .c2:hover{
    color: rgb(25, 167, 206);
    transform: matrix3d(30px);
    
}

.book {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 2%;
}

.book section{
    margin: 10%;
}

.book section a:hover{
    color: rgb(25, 167, 206);
    transform: matrix3d(30px);
}

.book section a img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.book section p{
    width: 100%;
}

/* hamburger */
.hamburger{
    display: none;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style-type: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* footer */
footer{
    background-color: rgb(35, 32, 32);
}

.contact{
    background-color: rgb(35, 32, 32);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.location{
    display: flex;
    flex-direction: column;
}

.location div h1{
    font-size: 180%;
}

.box-detail{
    padding: 0;
    margin: 1%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_nav{
    font-size: 140%;
    color: rgb(246, 241, 241);
    padding: 0;
    margin: 1%;
}

.foot_nav:hover{
    color: rgb(200, 152, 228);
    transform: matrix3d(30px);
}


/** media queries */
@media (max-width:960px){
    
    html{
        font-size: 90%;
    }

    main iframe{
        width: 550px;
        height: 400px;
    }


    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact{
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
    
    .book{
        flex-direction: column;
    }

    .location div iframe{
        width: 350px;
        height: 300px;
    }

    .box-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:768px){
    
    html{
        font-size: 85%;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(31, 28, 28);
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }


    main iframe{
        width: 450px;
        height: 300px;
    }


    .location div iframe{
        width: 270px;
        height: 220px;
    }

    .box-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

}

@media (max-width:450px){
    
    html{
        font-size: 80%;
    }

    main iframe{
        width: 350px;
        height: 300px;
    }

    .location div iframe{
        width: 180px;
        height: 140px;
    }

    .box-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}








