/* header */
header{
    background-color: rgb(35, 32, 32);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


.logo{
    margin-top: 2%;
    margin-right: 2%;    
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div{
    padding: 0;
    margin: 1%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi{
    font-size: 115%;
    color: rgb(246, 241, 241);
    padding: 0;
    margin: 1%;
}

.navi:hover{
    color: rgb(25, 167, 206);
    transform: matrix3d(30px);
}


/* main */
main{
    background-color: aliceblue;
    padding: 3%;
}

main div p{
    align-content: center;
    text-align: center;
    margin: 3%;
}

.book {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 4%;
}

.book section a img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.book section p{
    width: 100%;
}


/* footer */
footer{
    background-color: rgb(35, 32, 32);
}

.contact{
    background-color: rgb(35, 32, 32);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact div{
    margin: 3% 5%;
}

.location{
    
}

.box-detail{
    padding: 0;
    margin: 1%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_nav{
    font-size: 115%;
    color: rgb(246, 241, 241);
    padding: 0;
    margin: 1%;
}

.foot_nav:hover{
    color: rgb(25, 167, 206);
    transform: matrix3d(30px);
}










